.profile-image {
  width: 200;
  height: 200;
  object-fit: 'cover';
  max-width: '100%';
  border-radius: '50%';
}
.footer-root {
  display: flex;
  flex-direction: column;
}

.footer-footer {
  padding: 80px 30px 100px 30px;
  margin-top: 220px;
  background-color: black;
}

.footer-title {
  font-weight: bold;
  color: white;
}

.footer-textStyle {
  color: white;
  padding: 8px;
}

@media (min-width: '960px') {
  .footer-footer {
    padding: 80px 30px;
  }
}
